<div class="container">
    <br><h3>Често задавани въпроси</h3><br>
    <div class="faq">
        <h5>Question</h5>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p><hr>
    </div>
    <div class="faq">
        <h5>Question</h5>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p><hr>
    </div>
    <div class="faq">
            <h5>Question</h5>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p><hr>
    </div>
    <div class="faq">
        <h5>Question</h5>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p><hr>
    </div>
    <div class="faq">
        <h5>Question</h5>         
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p><hr>
    </div>
</div>