<div class="container">
    <br><h3>Често задавани въпроси</h3><br>
    <div class="faq">
        <h5>Как да предпазим домашният любимец от неприятели?</h5>
        <p>
          С помощта на комбинирано хапче за вътрешно и външно обезпаризитяване.
        </p><hr>
    </div>
    <div class="faq">
        <h5>Кои са качествените противопаразитни каишки?</h5>
        <p>Front Line Combo и Kantex се водят едни от най-добрите каишки,които издържат продължително време срещу опазването от паразити.</p><hr>
    </div>
    <div class="faq">
            <h5>Какви препоръки трябва да предприемем при изборът на храна?</h5>
            <p>Специално при кучетата и котките не е препоръчително да се дава пилешка храна.
              Тя е много вредна за организмът,също така не влияе благоприятно върху козината.
              Препоръчително е да се дава рибешки гранули,защото е много полезна за зрението, за лъскавината и здравината на косъма.
              Преобладават и други видове гранули,които са благоприятни :
              -агнешко,телешко,еленско,свинско;
              Консервираната храна от тип желе не е много за предпочитане,защото е твърде некачествена.
              Пълноценна храна за папагали балансирана семенна смес, адаптирана към специфичните хранителни нужди на вашата птица.
            </p><hr>
    </div>
    <div class="faq">
        <h5>Какви играчки харесват домашните любимци?</h5>
        <p>Котките обичат да се катерят и да разнишват конци.За тях има специално измислена къщичка на два етажа.
          Кучетата обожават да си играят с гумени играчки.
          Папагалите харесват люлки.
        </p><hr>
    </div>
    <div class="faq">
        <h5>Какви лакомства харесват домашните любимци?</h5>
        <p>Котките харесват рибени лакомства.
          Кучетата харесват DentaStix и всичко що е лакомство под формата на кокал.
          Папагалите харесват много червена боровинкова семка.
        </p><hr>
    </div>
</div>
