<div class="container">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../images/homepagePic3.jpg" style="height: 500px; width: 100%; display: block;"
          alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <div class="alert alert-dismissible alert-secondary">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../images/GroupPhoto2.jpg" style="height: 500px; width: 100%; display: block;"
          alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <div class="alert alert-dismissible alert-secondary">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../images/GroupPhoto1.jpg" style="height: 500px; width: 100%; display: block;"
          alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../images/homepage_foods.jpg" style="height: 500px; width: 100%; display: block;"
          alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>