<div class="container">
    <button type="button" class="btn btn-outline-success" (click)="goBack()">Назад</button>
    <div class="row">
        <div class="col-sm">
            <div class="card mb-3">
                <h3 class="card-header">Клео</h3>
                <div class="card-body">
                    <h5 class="card-title">Сомалийска котка</h5>
                    <h6 class="card-subtitle text-muted">на 5 месеца</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="../../../images/cats/somali-cat-cleo.jpg"
                    alt="Card image">
                <div class="card-body">
                    <input type="checkbox" class="read-more-state" id="post-0" />
                    <p class="read-more-wrap">
                        Клео е Сомалийска котка. Обича игрите и е подходяща за семейства с деца. 
                        Има дълга и красива козина, която трябва да се поддържа с редовно сресване.
                        <span class="read-more-target">
                            Произхожда от породата абисинска котка. Съществува разнообразие на шарки и цветове.
                            Много лесно се привързва към членовете на семейството, игрива е, ласкава и любопитна.
                            Сомали не обича самотата и затворените пространства.
                        </span>
                    </p>
                    <label for="post-0" class="read-more-trigger"></label>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-warning" (click)="askAboutMe()">Попитай за мен!</button>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3">
                <h3 class="card-header">Сноубол</h3>
                <div class="card-body">
                    <h5 class="card-title">Ванска котка</h5>
                    <h6 class="card-subtitle text-muted">на 1 година</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="../../../images/cats/van-cat-snowball.jpg"
                    alt="Card image">
                <div class="card-body">
                    <input type="checkbox" class="read-more-state" id="post-1" />
                    <p class="read-more-wrap">
                        Сноубол е от по-големите ни котки, но освен почивките обича и да си играе.
                        Сноубол е текущият носител на титлата най-красива котка на "Дай Лапа!".
                        <span class="read-more-target">
                            Турските котки Ван са изключително интелигентни и дружелюбни и те са
                            идеалният спътник в живота. Това са жизнени котки, които обичат да играят
                            с хората или други котки. Следователно, трябва да ги стимулирате и да им
                            давате възможност да се наиграят. Турските котки Ван издават мелодични звуци.
                        </span>
                    </p>
                    <label for="post-1" class="read-more-trigger"></label>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-warning" (click)="askAboutMe()">Попитай за мен!</button>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3">
                <h3 class="card-header">Мънки</h3>
                <div class="card-body">
                    <h5 class="card-title">Сиамска котка</h5>
                    <h6 class="card-subtitle text-muted">на 8 месеца</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;"
                    src="../../../images/cats/siamese-cat-Monkey.jpg" alt="Card image">
                <div class="card-body">
                    <input type="checkbox" class="read-more-state" id="post-2" />
                    <p class="read-more-wrap">
                        Мънки и тих котарак, който обича да спи. Обича да прекарва време сред 
                        хора и е изключително интелигентна. Имат нужда от ангажираността на стопаните си.
                        <span class="read-more-target">
                            Сиамските котки са умни, общителни, обичат да са сред хора и силно се привързват към тях.
                            Твърди се, че по характер приличат изключително на стопанина си.
                        </span>
                    </p>
                    <label for="post-2" class="read-more-trigger"></label>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-warning" (click)="askAboutMe()">Попитай за мен!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-4">
            <div class="card mb-3">
                <h3 class="card-header">Пух</h3>
                <div class="card-body">
                    <h5 class="card-title">Мейн куун</h5>
                    <h6 class="card-subtitle text-muted">на 3 месеца</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="../../../images/cats/maine-coon-puh.jpg"
                    alt="Card image">
                <div class="card-body">
                    <input type="checkbox" class="read-more-state" id="post-4" />
                    <p class="read-more-wrap">
                        Пух може да е само на три месеца, но яде почти колкото по-големите котки.
                        <span class="read-more-target">
                            Мейн куун са големи котки и като порасне ще се нуждае от много храна и от много грижи
                            за гъстата му козина.
                        </span>
                    </p>
                    <label for="post-4" class="read-more-trigger"></label>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-warning" (click)="askAboutMe()">Попитай за мен!</button>
                </div>
            </div>
        </div>
    </div>
</div>