<div class="container">
    <button type="button" class="btn btn-outline-success" (click)="goBack()">Назад</button>

    <div class="row">
        <div class="col-sm">
            <div class="card mb-3">
                <h3 class="card-header">Дейзи</h3>
                <div class="card-body">
                    <h5 class="card-title"> Кинг Чарлз Шпаньол</h5>
                    <h6 class="card-subtitle text-muted">Възраст: 8 месеца</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="../../../images/daisy-smalldog.jpg"
                    alt="Card image">
                <div class="card-body">
                    <input type="checkbox" class="read-more-state" id="post-1" />
                    <p class="read-more-wrap">
                        Кинг Чарлз шпаньолът е малко куче, тежащо между 3,6 и 6,3 кг. Имат много добро телосложение.
                        Главата им е малка, но имат
                        силна и болезнена захапка.<span class="read-more-target"> Погледът им е добродушен, имат малки
                            черни очи.Тялото
                            им е издължено, със силни лапи.
                            Козината им е дълга и гъста, а цветът ѝ може да бъде черен, рубинен, бленхайм или трицветен.
                            Това куче е прекрасен
                            компаньон, готов винаги да следва господаря си. Въпреки малкия си размер те са учудващо
                            смели, жизнерадостни, игриви и
                            предани на стопанина си. Могат спокойно да живеят в градска среда, но се нуждаят от голямо
                            пространство, за да могат да
                            се движат достатъчно и да поддържат добра форма.
                        </span>
                    </p>
                    <label for="post-1" class="read-more-trigger"></label>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3">
                <h3 class="card-header">Тара</h3>
                <div class="card-body">
                    <h5 class="card-title">Джак Ръсел Териер</h5>
                    <h6 class="card-subtitle text-muted">Възраст: 3 години</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="../../../images/DjackRussel_Tara1.jpg"
                    alt="Card image">
                <div class="card-body">
                    <input type="checkbox" class="read-more-state" id="post-2" />
                    <p class="read-more-wrap">Когато става въпрос за отглеждане на Джак Ръсел Териер, то е много важно
                        да сме запознати с
                        характера и темперамента на тази порода.<span class="read-more-target"> Те притежават
                            отличителни характеристики и грижата за тях трябва да бъде
                            съобразена със специфичните им нужди.
                            Познавайки техните черти, ще ви даде възможност да разберете кучето си по-добре и това ще
                            доведе до изграждане на
                            по-силна връзка помежду ви.Те обичат да се движат, тичат, играят, да се радват на живота.
                            Това е много добра черта,
                            защото ще ви държи заети, но ако за пръв път ще имате куче, може би ще бъдете много
                            изненадани от постоянната му
                            енергичност и ще ви е по-трудно да свикнете.ези кучета са изключително умни. Те могат много
                            лесно да идентифицират следи
                            и да се учат на най-различни трикове.Генетично Джак Ръселите са почти безстрашни. Те ще си
                            набележат цел и нищо няма да
                            ги спре. Те са ловци и са много подходящи кучета за охрана и няма да се свият в ъгъла при
                            странен шум в нощта.
                        </span>
                    </p>
                    <label for="post-2" class="read-more-trigger"></label>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3">
                <h3 class="card-header">Джули</h3>
                <div class="card-body">
                    <h5 class="card-title">Йоркширски Териер</h5>
                    <h6 class="card-subtitle text-muted">Възраст: 1година</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="../../../images/Djuli_Yorki.jpg"
                    alt="Card image">
                <div class="card-body">
                    <input type="checkbox" class="read-more-state" id="post-3" />
                    <p class="read-more-wrap">Йоркширски териер или познатото още като йорки е куче с властен характер,
                        игрив темперамент и слава на „менекен“ сред
                        мини породите.<span class="read-more-target"> Като декоративно и изключително дребно по размери
                            пале това куче само заблуждава с крехката си натура,
                            защото, всъщност, притежава невероятна физическа гъвкавост, а поривите му за игра биха могли
                            да изморят и
                            най-тренираните стопани.Изключително любвеобилно, но и много умно по природа, това куче е
                            идеалният домашен любимец както за по-неопитните с
                            отглеждането на животни у дома, така и за хора с малки жилища. В този материал сме ви
                            подготвили подробна информация за
                            историята и характеристиките на йоркширския териер, но също така и за спецификите, с които
                            предварително е добре да
                            бъдете запознати, по повод отглеждането и дресирането.
                        </span>
                    </p>
                    <label for="post-3" class="read-more-trigger"></label>
                </div>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>
    </div>
</div>