<div class="container">
    <button type="button" class="btn btn-outline-success" (click)="goBack()">Назад</button>

    <div class="row">
        <div class="col-sm">
            <div class="card mb-3">
                <h3 class="card-header">Дейзи</h3>
                <div class="card-body">
                    <h5 class="card-title"> Кинг Чарлз Шпаньол</h5>
                    <h6 class="card-subtitle text-muted">Възраст: 8 месеца</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="../../../images/daisy-smalldog.jpg"
                    alt="Card image">
                <div class="card-body">
                    <input type="checkbox" class="read-more-state" id="post-1" />
                    <p class="read-more-wrap">
                      Здравейте аз съм малката  принцеса Дейзи,която търси грижа и внимание.Много обичам да ме сресват да си играят с мен и да ме глезят.
                      <span class="read-more-target">
                     Умея да изпълнявам команди и да бъда внимателна и доброгледна към хората.Ако искаш да се запознаем,Попитай за мен.
                        </span>
                    </p>
                    <label for="post-1" class="read-more-trigger"></label>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-warning" (click)="askAboutMe()">Попитай за мен!</button>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3">
                <h3 class="card-header">Роки</h3>
                <div class="card-body">
                    <h5 class="card-title">Джак Ръсел Териер</h5>
                    <h6 class="card-subtitle text-muted">Възраст: 3 години</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="../../../images/DjackRussel_Tara1.jpg"
                    alt="Card image">
                <div class="card-body">
                    <input type="checkbox" class="read-more-state" id="post-2" />
                    <p class="read-more-wrap">
                      Здравейте аз съм Роки каскадьорът.Много съм игрив,доброжелюбен,умея да изпълнявам всякакви команди и да слушам стопанинът си.
                      <span class="read-more-target">
                      Обичам да тичам свободно и да бягам бързо,да бягам в кръг,да гоня пръчки и най-много обичам да скачам.
                      Ако искаш да се запознаем,Попитай за мен.
                       </span>
                    </p>
                    <label for="post-2" class="read-more-trigger"></label>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-warning" (click)="askAboutMe()">Попитай за мен!</button>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3">
                <h3 class="card-header">Джули</h3>
                <div class="card-body">
                    <h5 class="card-title">Йоркширски Териер</h5>
                    <h6 class="card-subtitle text-muted">Възраст: 1година</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="../../../images/Djuli_Yorki.jpg"
                    alt="Card image">
                <div class="card-body">
                    <input type="checkbox" class="read-more-state" id="post-3" />
                    <p class="read-more-wrap">
                      Здравейте аз съм Джули.Аз съм игрива,мила и красива дама.Обичам да ходя да ми правят прически по фризьори.
                      <span class="read-more-target">
                      Много съм добра и любвеобилна,притежавам и добри умения по ловкост,изпълнителна съм и бих радвала постояннно стопаните си с моите трикове.
                      Ако искаш да се запознаем,Попитай за мен!
                    </span>
                    </p>
                    <label for="post-3" class="read-more-trigger"></label>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-warning" (click)="askAboutMe()">Попитай за мен!</button>
                </div>
            </div>
        </div>
    </div>
</div>
