<!-- <a [routerLink]="['/app/catalogue']" [queryParams]="{debug: true}" queryParamsHandling="merge">
    Link to Catalogue component
  </a> -->

<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">


    <button (click)="showFiller = !showFiller" class="btn btn-success">
      Каталог
    </button>
    <br *ngIf="showFiller">
    <button *ngIf="showFiller" class="btn btn-warning">Аксесоари</button>
    <br *ngIf="showFiller">
    <button *ngIf="showFiller" class="btn btn-warning">Храна</button>
    <br>

    <button (click)="showFiller = !showFiller" class="btn btn-success">
      . . .
    </button>
  </mat-drawer>

  <button type="button" class="btn btn-success" (click)="drawer.toggle()">
    Каталог
  </button> -->
