<!-- <a [routerLink]="['/app/catalogue']" [queryParams]="{debug: true}" queryParamsHandling="merge">
    Link to Catalogue component
  </a> -->

<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">


    <button (click)="showFiller = !showFiller" class="btn btn-success">
      Каталог
    </button>
    <br *ngIf="showFiller">
    <button *ngIf="showFiller" class="btn btn-warning">Аксесоари</button>
    <br *ngIf="showFiller">
    <button *ngIf="showFiller" class="btn btn-warning">Храна</button>
    <br>

    <button (click)="showFiller = !showFiller" class="btn btn-success">
      . . .
    </button>
  </mat-drawer>

  <button type="button" class="btn btn-success" (click)="drawer.toggle()">
    Каталог
  </button> -->

  <div class="container">

    <div class="row">
      <div class="col-sm">
        <div class="card border-success mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <img style="height: 150px; width: 250px; display: block;" src="images/food.png" alt="Card image">
            <h4 class="card-title">Храна</h4>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-success mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <img style="height: 150px; width: 250px; display: block;" src="images/Dog-Accessories.jpg" alt="Card image">
            <h4 class="card-title">Аксесоари</h4>
        </div>
      </div>
    </div>
  
  </div>