<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card mb-3">
        <h3 class="card-header">Якета</h3>
        <div class="card-body">
          <h5 class="card-title">Налично</h5>
          <h6 class="card-subtitle text-muted">Adidas</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="../../../images/adidas_jacket.jpg"
          alt="Card image">
        <div class="card-body">
          <p class="card-text">
            <div [ngClass]="{'show-less': showShortDesciption}">Велурено зимно яке Adidas с качулка.
              Налични са различни типове размери -S,M,L,XL.
              За запитване или поръчки,изберете линка под описанието.
            </div>
            <p class="row">
              <a class="myButton" (click)="alterDescriptionText()">Прочети повече</a>
              <p class="row"> Цена: 20 лв </p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card mb-3">
        <h3 class="card-header">Легла</h3>
        <div class="card-body">
          <h5 class="card-title">Налично </h5>
          <h6 class="card-subtitle text-muted">Тед</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="../../../images/house_dog_cat.jpg"
          alt="Card image">
        <div class="card-body">
          <p class="card-text">
            <div [ngClass]="{'show-less': showShortDesciption}">Меко и топло кръгло легло за кучета и котки.
              Подходящо за кучета със средно телосложение.
              За запитване или поръчки,изберете линка под описанието.
            </div>
            <p class="row">
              <a class="myButton" (click)="alterDescriptionText()">Прочети повече</a>
              <p class="row"> Цена: 30 лв </p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card mb-3">
        <h3 class="card-header">Поводи нагръдници и каишки</h3>
        <div class="card-body">
          <h5 class="card-title">Налично</h5>
          <h6 class="card-subtitle text-muted">Зооленд</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;"
          src="../../../images/DogLeadsAndCollars_1000x1000_1.jpg" alt="Card image">
        <div class="card-body">
          <p class="card-text">
            <div [ngClass]="{'show-less': showShortDesciption}">
              Предлагаме голямо разнообразие на на поводи и каишки за Вашето куче:
              Автоматични поводи,Поводи и каишки в комплект, с удобни размери S,M,L,XL
              За запитване или поръчки,изберете линка под описанието.</div>
            <p class="row">
              <a class="myButton" (click)="alterDescriptionText()">Прочети повече</a>
              <p class="row"> Цена: По договаряне </p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card mb-3">
        <h3 class="card-header">Играчки</h3>
        <div class="card-body">
          <h5 class="card-title">Налично</h5>
          <h6 class="card-subtitle text-muted">Кокалчета,Топки,Гири,Рингове</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="../../../images/dog_toys.jpg" alt="Card image">
        <div class="card-body">
          <p class="card-text">
            <div [ngClass]="{'show-less': showShortDesciption}">
              Различни видове играчки:
              Пищялки,Плуващи играчки,Топки, въжета и рингове,Играчки за интелект,Играчки за дъвчене
              За запитване или поръчка,изберете линка под описанието.
            </div>
            <p class="row">
              <a class="myButton" (click)="alterDescriptionText()">Прочети повече</a>
            </p>
            <p class="row"> Цена: 10 лв </p>
        </div>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>
    <div class="col-sm">
      <div class="card mb-3">
        <h3 class="card-header">Играчки за птици</h3>
        <div class="card-body">
          <h5 class="card-title">Налично</h5>
          <h6 class="card-subtitle text-muted">Въжета за катерене,Играчки за кълване,Люлки</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="../../../images/BirdToys.jpg" alt="Card image">
        <div class="card-body">
          <p class="card-text">
            <div [ngClass]="{'show-less': showShortDesciption}">
              Различни видове играчки:
              Въжета за катерене,Играчки за кълване,Люлки
              За запитване или поръчка,изберете линка под описанието.
            </div>
            <p class="row">
              <a class="myButton" (click)="alterDescriptionText()">Прочети повече</a>
            </p>
            <p class="row"> Цена: 8 лв </p>
        </div>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>
    <div class="col-sm">
      <div class="card mb-3">
        <h3 class="card-header">Клетки и волиери</h3>
        <div class="card-body">
          <h5 class="card-title">Налично</h5>
          <h6 class="card-subtitle text-muted">Малки и големи клетки и волиери</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="../../../images/bird_vogualer.jpg"
          alt="Card image">
        <div class="card-body">
          <p class="card-text">
            <div [ngClass]="{'show-less': showShortDesciption}">
              Кафезът за птици е домът на Вашето животно.
              Кафезите и принадлежностите за клетки трябва да са съобразени с потребностите на птицата.
              За запитване или поръчка,изберете линка под описанието.
            </div>
            <p class="row">
              <a class="myButton" (click)="alterDescriptionText()">Прочети повече</a>
            </p>
            <p class="row"> Цена: 27 лв </p>
        </div>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>
    <div class="col-sm">
      <div class="card mb-3">
        <h3 class="card-header">Обурудване на клетки</h3>
        <div class="card-body">
          <h5 class="card-title">Налично</h5>
          <h6 class="card-subtitle text-muted">Купички,поилки,кацалки</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="../../../images/BirdAccessories_1000x1000px_01_1.jpg"
          alt="Card image">
        <div class="card-body">
          <p class="card-text">
            <div [ngClass]="{'show-less': showShortDesciption}">
                Необорудваният кафез за птици представлява тъжна гледка! В природата птичките по цял ден се занимават с разни клончета и
                други паднали клонаци, кълват дребни горски плодове, къпят се и си търсят подходящо за почивка място. За това и клетката
                би трябвало да е оборудвана с подходящите принадлежности, за да не скучаят Вашите любимци.
                За запитване или поръчка,изберете линка под описанието.
            </div>
            <p class="row">
              <a class="myButton" (click)="alterDescriptionText()">Прочети повече</a>
            </p>
            <p class="row"> Цена: 7 лв </p>
        </div>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>
    <div class="col-sm">
        <div class="card mb-3">
          <h3 class="card-header">Постелки за папагали</h3>
          <div class="card-body">
            <h5 class="card-title">Налично</h5>
            <h6 class="card-subtitle text-muted">Поддръжка на нокти</h6>
          </div>
          <img style="height: 200px; width: 100%; display: block;" src="../../../images/LitterAndCare_bird.jpg"
            alt="Card image">
          <div class="card-body">
            <p class="card-text">
              <div [ngClass]="{'show-less': showShortDesciption}">
                  Пясъкът и постелките служат не само за поддържане на хигиената в клетките за птици, същевременно с това те са и
                  подходящо занимание за пернатите животинки.
                  В постелките или в пясъка птиците могат да ровят, човъркат и да играят.
                  За запитване или поръчка,изберете линка под описанието.
              </div>
              <p class="row">
                <a class="myButton" (click)="alterDescriptionText()">Прочети повече</a>
              </p>
              <p class="row"> Цена: 5 лв </p>
          </div>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
      <div class="col-sm">
          <div class="card mb-3">
            <h3 class="card-header">Катерушки и драскалки за котки</h3>
            <div class="card-body">
              <h5 class="card-title">Налично</h5>
              <h6 class="card-subtitle text-muted">Дървета</h6>
            </div>
            <img style="height: 200px; width: 100%; display: block;" src="../../../images/la_digue_beige_fk_wollweiss_.jpg"
              alt="Card image">
            <div class="card-body">
              <p class="card-text">
                <div [ngClass]="{'show-less': showShortDesciption}">
                    Дървото за драскане е идеално място за спане и игра за една котка. Драскалка за котки или катерушка за котки, би
                    позволила на Вашата котка да обтяга и движи всичките си мускули, особено важно за котки, които прекарват много време у
                    дома.Тъй като всяка катерушка за котка предлага занимание на котката Ви, намалява вероятността тя да прави драскотини по
                    мебелите.
                    За запитване или поръчка,изберете линка под описанието.
                </div>
                <p class="row">
                  <a class="myButton" (click)="alterDescriptionText()">Прочети повече</a>
                </p>
                <p class="row"> Цена: 36 лв </p>
            </div>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3">
              <h3 class="card-header">Легла за котки</h3>
              <div class="card-body">
                <h5 class="card-title">Налично</h5>
                <h6 class="card-subtitle text-muted">Пухкави легла за спане</h6>
              </div>
              <img style="height: 200px; width: 100%; display: block;" src="../../../images/peshtera_za_kotki.jpg"
                alt="Card image">
              <div class="card-body">
                <p class="card-text">
                  <div [ngClass]="{'show-less': showShortDesciption}">
                      Домашните котки прекарват по-голямата част ор времето си в отдих. Сънят действително е основна потребност на всички
                      животни: когато спят дълбоко, мозъкът отбработва съхранената сетивна информация и образува нови нервни връзки. Затова
                      всеки дом с котка трябва да предлага достатъчно уединени кътчета за отдих и сън! Защото котките обичат уюта.
                      За запитване или поръчка,изберете линка под описанието.
                  </div>
                  <p class="row">
                    <a class="myButton" (click)="alterDescriptionText()">Прочети повече</a>
                  </p>
                  <p class="row"> Цена: 30 лв </p>
              </div>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
          <div class="col-sm">
              <div class="card mb-3">
                <h3 class="card-header">Тоалетни и средства за поддръжка</h3>
                <div class="card-body">
                  <h5 class="card-title">Налично</h5>
                  <h6 class="card-subtitle text-muted">Savic</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="../../../images/kenef_za_kotka.jpg"
                  alt="Card image">
                <div class="card-body">
                  <p class="card-text">
                    <div [ngClass]="{'show-less': showShortDesciption}">
                        Kрасиво оформената тоалетна за котки Nestor на Savic е специално оборудвана с дълбоко корито, което не позволява
                        протичане на течности извън тоалетната.
                        За запитване или поръчка,изберете линка под описанието.
                    </div>
                    <p class="row">
                      <a class="myButton" (click)="alterDescriptionText()">Прочети повече</a>
                    </p>
                    <p class="row"> Цена: 31 лв </p>
                </div>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
              </div>
            </div>
            <div class="col-sm">
                <div class="card mb-3">
                  <h3 class="card-header">Играчки за котки</h3>
                  <div class="card-body">
                    <h5 class="card-title">Налично</h5>
                    <h6 class="card-subtitle text-muted">Тунели и чували,мишки,въдици</h6>
                  </div>
                  <img style="height: 200px; width: 100%; display: block;" src="../../../images/koteshki_tuneli.jpg"
                    alt="Card image">
                  <div class="card-body">
                    <p class="card-text">
                      <div [ngClass]="{'show-less': showShortDesciption}">
                          Играчките са задължителни за всеки, които има котка. Те разнообразяват живота на котките, поддържат ги здрави и тренират
                          сетивата им.
                          За запитване или поръчка,изберете линка под описанието.
                      </div>
                      <p class="row">
                        <a class="myButton" (click)="alterDescriptionText()">Прочети повече</a>
                      </p>
                      <p class="row"> Цена: 23 лв </p>
                  </div>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                </div>
              </div>
  </div>
</div>
