<div class="container">

  <div class="row">
    <div class="col-sm">
      <div class="card border-success mb-3 small-pet" style="max-width: 20rem;">
        <div class="card-body" (click)="goToPet('dog')">
          <img style="height: 200px; width: 200px; display: block;" src="images/mid-dog.png" alt="Card image">
          <h4 class="card-title">Кучета</h4>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-success mb-3 mid-pet" style="max-width: 20rem;">
        <div class="card-body" (click)="goToPet('cat')">
          <img style="height: 200px; width: 200px; display: block;" src="images/mid-cat.png" alt="Card image">
          <h4 class="card-title">Котки</h4>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-success mb-3 big-pet" style="max-width: 20rem;">
        <div class="card-body" (click)="goToPet('parrot')">
          <img style="height: 200px; width: 200px; display: block;" src="images/mid-parrot.png" alt="Card image">
          <h4 class="card-title">Папагали</h4>
        </div>
      </div>
    </div>
  </div>




</div>