<div class="container">

  <div class="row">
    <div class="col-sm">
      <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <img style="height: 200px; width: 200px; display: block;" src="images/cat-vector.png" alt="Card image">
          <h4 class="card-title">Малки кучета</h4>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <img style="height: 200px; width: 200px; display: block;" src="images/cat-vector.png" alt="Card image">
          <h4 class="card-title">Средни кучета</h4>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <img style="height: 200px; width: 200px; display: block;" src="images/cat-vector.png" alt="Card image">
          <h4 class="card-title">Големи кучета</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <img style="height: 200px; width: 200px; display: block;" src="images/cat-vector.png" alt="Card image">
          <h4 class="card-title">Малки котки</h4>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <img style="height: 200px; width: 200px; display: block;" src="images/cat-vector.png" alt="Card image">
          <h4 class="card-title">Средни котки</h4>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <a (click)="gothere()">
            <img style="height: 200px; width: 200px; display: block;" src="images/cat-vector.png" alt="Card image">
          </a>
          <h4 class="card-title">Големи котки</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <img style="height: 200px; width: 200px; display: block;" src="images/cat-vector.png" alt="Card image">
          <h4 class="card-title">Малки папагали</h4>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <img style="height: 200px; width: 200px; display: block;" src="images/cat-vector.png" alt="Card image">
          <h4 class="card-title">Средни папагали</h4>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <img style="height: 200px; width: 200px; display: block;" src="images/cat-vector.png" alt="Card image">
          <h4 class="card-title">Големи папагали</h4>
        </div>
      </div>
    </div>
  </div>


</div>